* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  border: 1px solid;
  /* box-shadow: 0 0 4px 3px black; */
  /* text-align: center; */
  padding: 1.5rem;
  margin-bottom: 2em;
}
